<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3">
        <strong>Teachers</strong>
        <br />
        <%= link_to 'Teach a Course', new_instructor_course_path %>
        <br />
        <%= link_to 'My Dashboard', dashboard_path %>
      </div>
      <div class="col-12 col-sm-3">
        <strong>About</strong>
        <br />
        <%= link_to 'Team', team_path %>
        <br />
        <%= link_to 'Careers', careers_path %>
        <br />
        <%= link_to 'Privacy Policy', privacy_path %>
      </div>
      <div class="col-12 col-sm-3">
        <strong>Contact</strong>
        <br />
        my@email.com
        <br />
        One Kendall Sq
        <br />
        Cambridge MA, 02113
      </div>
      <div class="col-12 col-sm-3 social">
        <strong>Social</strong
        <br />
        <br />
        <%= link_to 'http://github.com/AnalyzeDesign' do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.facebookjailed.com/facebook-continues-to-silence-black-voices-while-publicly-defending-white-supremacy/' do %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.huffpost.com/entry/twitter-white-nationalist-problem_n_5cec4d28e4b00e036573311d' do %>
          <span class="fa fa-twitter-square fa-2x social-button"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
